In [13]:
import pandas as pd
positions_prize_money = [
    (1, "Manchester City", "£62.3m"),
    (2, "Arsenal", "£59.1m"),
    (3, "Manchester United", "£56m"),
    (4, "Newcastle United", "£52.9m"),
    (5, "Liverpool", "£49.9m"),
    (6, "Brighton", "£46.7m"),
    (7, "Aston Villa", "£43.6m"),
    (8, "Tottenham", "£40.5m"),
    (9, "Brentford", "£37.4m"),
    (10, "Fulham", "£34.3m"),
    (11, "Crystal Palace", "£31.1m"),
    (12, "Chelsea", "£28m"),
    (13, "Wolves", "£24.9m"),
    (14, "West Ham", "£21.8m"),
    (15, "Bournemouth", "£18.6m"),
    (16, "Nottingham Forest", "£15.6m"),
    (17, "Everton", "£12.5m"),
    (18, "Leicester City", "£9.4m"),
    (19, "Leeds United", "£6.2m"),
    (20, "Southampton", "£3.1m")
]
df_pm2324 = pd.DataFrame(positions_prize_money, columns=['Pos', 'Team', 'Prize Money'])

In [14]:
df_pm2324

    Pos               Team Prize Money
0     1    Manchester City      £62.3m
1     2            Arsenal      £59.1m
2     3  Manchester United        £56m
3     4   Newcastle United      £52.9m
4     5          Liverpool      £49.9m
5     6           Brighton      £46.7m
6     7        Aston Villa      £43.6m
7     8          Tottenham      £40.5m
8     9          Brentford      £37.4m
9    10             Fulham      £34.3m
10   11     Crystal Palace      £31.1m
11   12            Chelsea        £28m
12   13             Wolves      £24.9m
13   14           West Ham      £21.8m
14   15        Bournemouth      £18.6m
15   16  Nottingham Forest      £15.6m
16   17            Everton      £12.5m
17   18     Leicester City       £9.4m
18   19       Leeds United       £6.2m
19   20        Southampton       £3.1m

In [15]:
import pandas as pd

positions = [
    '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
    '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'
]
teams = [
    'Manchester City', 'Arsenal', 'Manchester United', 'Newcastle United','Liverpool','Brighton',
    'Aston Villa','Tottenham','Brentford','Fulham','Crystal Palace','Chelsea','Wolves','West Ham',
    'Bournemouth','Nottingham Forest','Everton','Leicester City','Leeds United','Southampton'
]
prize_money = [
    '£44m', '£41.8m', '£39.6m', '£37.4m', '£35.2m', '£33m', '£30.8m', '£28.6m', '£26.4m',
    '£24.2m', '£22m', '£19.8m', '£17.6m', '£15.4m', '£13.2m', '£11m', '£8.8m', '£6.6m',
    '£4.4m', '£2.2m'
]

# 데이터프레임으로 변환
df_pm2223 = pd.DataFrame({
    'Pos': positions,
    'Team': teams,
    'Prize Money': prize_money
})

df_pm2223

   Pos               Team Prize Money
0    1    Manchester City        £44m
1    2            Arsenal      £41.8m
2    3  Manchester United      £39.6m
3    4   Newcastle United      £37.4m
4    5          Liverpool      £35.2m
5    6           Brighton        £33m
6    7        Aston Villa      £30.8m
7    8          Tottenham      £28.6m
8    9          Brentford      £26.4m
9   10             Fulham      £24.2m
10  11     Crystal Palace        £22m
11  12            Chelsea      £19.8m
12  13             Wolves      £17.6m
13  14           West Ham      £15.4m
14  15        Bournemouth      £13.2m
15  16  Nottingham Forest        £11m
16  17            Everton       £8.8m
17  18     Leicester City       £6.6m
18  19       Leeds United       £4.4m
19  20        Southampton       £2.2m